.simple_form
  %h1 
    Change your
    %span.highlight Settings
  = devise_error_messages!
  = form_for(resource, :url => user_registration_path, :html => { :method => :put, :multipart => true }) do |f|
    %table
      %tr.input
        %th Email
        %td= f.text_field :email
      %tr.input
        %th password
        %td= f.password_field :password
      %tr.input
        %th password confirmation
        %td= f.password_field :password_confirmation
      %tr.hint
        %th
        %td leave blank if you don't want to change it
      %tr.input
        %th profile picture
        %td= f.file_field :avatar
      %tr.input
        %th current password
        %td= f.password_field :current_password
      %tr.hint
        %th
        %td we need your current password to confirm your changes
      %tr
        %th
        %td= f.submit "Update", :class => "submit"
      %tr
        %th
        %td= link_to "Go back to your stream", stream_path(:username => current_user.username)