#sign_up
  %h1
    Join our 
    .highlight 
      Community
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %table
      %tr
        %th 
          %label Name
        %td 
          = f.text_field :name
      %tr
        %th
        %td.hint
          You can choose to display your name on your profile if you want
      %tr
        %th
          %label Username
        %td
          = f.text_field :username
      %tr
        %th
        %td.hint
          You will use this to log in
      %tr
        %th
          %label Password
        %td
          = f.password_field :password
      %tr
        %th
        %td.hint
          At least 6 characters
      %tr
        %th
          %label Confirm Password
        %td
          = f.password_field :password_confirmation
      %tr
        %th
        %td.hint
          Re-type your password
      %tr
        %th
          %label Email
        %td
          = f.text_field :email
      %tr
        %th
        %td.hint
          Your email will not be displayed publicly
      %tr.tos
        %th
          %label Terms of Service
          = link_to 'Printable Version'
        %td
          %code This is a tos, hehe
      %tr
        %th
        %td.hint
          By clicking on "Create my account" button below, you are agreeing to the Terms of Service above and the Private Policy
      %tr
        %th
        %td
          = f.submit 'Create my account', { :src => '/images/create_account_button.png', :class => 'submit' }
