#group_index
  %h1
    Find A
    .highlight Group
    That You Belong
    .create
      or
      = link_to("create your own",new_group_path)

  %ul.groups
    - @groups.each do |group|
      %li
        .name= link_to_group(group)
        .description= group.description
        .info
          %span.members= pluralize(group.members.count,"member")
          - if current_user && !group.member?(current_user)
            = link_to("Join",{:action => :join, :id => group.id},{:class => "link",:method => :post})

