- content_for(:panel) do
  %h3 Members
  %ul
    - @group.members.each do |user|
      %li= link_to_user(user)
    
%h2 Hello, Welcome to #{@group.name}
%div
  %div
    #{@group.description}
    #{link_to_join(@group)}
  %hr
  %div
    Say something to the group
    = form_tag :action => :share, :id => @group.id  do
      = text_area_tag :content, {},:class => "sayText"
      = submit_tag "Share", :class => "saySubmit"
      -# render :partial => 'thought/list'