= render :partial => "shared/toolbar"
-content_for(:content) do
  #stream_main
    #sidebar
      #navigation
        - if user_signed_in?
          - if !@group.member?(current_user)
            = button_to "Join", {:action => :join, :id => @group.id}, {:class => "button"}
          - elsif @group.creator != current_user
            = button_to "Leave", {:action => :leave, :id => @group.id}, {:class => "button"}
        %h2 Members
        %ul.members
          - @group.members.each do |user|
            %li= link_to_user(user)
    #stream
      - if current_user && @group.member?(current_user)
        #share_prompt
          = form_tag({:action => :share, :id => @group.id},{:remote => true}) do
            = text_area_tag :content
            = image_submit_tag "share-button.png", :class => "submit"
      - elsif !user_signed_in?
        %h2.join
          - link_to(new_user_registration_path) do
            %u Join
            our
            .highlight conversation
            today
      #info
        %h1= @group.name
        = @group.description
      = render :partial => "thoughts/list"

