#header
  = image_tag("logo.png")
  #toolbar
    = link_to "Sign Out", destroy_user_session_path
    
#content
  #sidebar
    #navigation
      %h2 Members
      %ul#members
        - @group.members.each do |user|
          %li= link_to_user(user)
      %br
        = link_to_join(@group)
  #info
    %h1 Welcome to #{@group.name}
    %div
      #{@group.description}
  #share_prompt
    = form_tag :action => :share, :id => @group.id  do
      = text_area_tag :content
      = image_submit_tag "share-button.png", :class => "submit"
  #stream
    = render :partial => 'thought/list'