%div
  = link_to "Sign out", destroy_user_session_path, :class => "signOut"
  <br/>
  - unless user_is_owner?
    #{owner.name}'s stream
  - else
    Hi #{current_user.name}, what's on your mind?
    = form_tag :controller => :thoughts, :action => :create  do
      = text_area_tag :content, {},:class => "sayText"
      = submit_tag "Share", :class => "saySubmit"
  %ul.thoughtList
    - @thoughts.each do |thought|
      <hr />
      %li
        %div= current_user.name+" "+thought.content
        %div.thoughtDate= thought.time.strftime("%b %d")
        %ul
          %img.commentNub{:src => "/images/commentNub.jpg"}
          - thought.comments.each do |comment|
            %li.commentList
              %div= link_to("#{comment.author["name"]}", "http://localhost:3000/#{comment.author["name"]}")+" "+comment.content
        = form_tag :controller => :comments, :action => :create do
          = text_field_tag :content, {}, :class => "commentBox"
          = hidden_field_tag :thought_oid, thought.oid
          = hidden_field_tag :username, owner.username
          = submit_tag "Comment", :class => "commentSubmit"
          