- content_for(:toolbar) do
  #toolbar
    - if user_signed_in?
      = link_to "Settings", edit_user_registration_path
      = link_to "Sign Out", destroy_user_session_path
    - else
      = link_to "Sign in", new_user_session_path

- content_for(:content) do
  #stream_main
    #sidebar
      #portrait
        -# - if owner.avatar
        -#   = image_tag owner.avatar.url(:thumb)
      - if user_signed_in? && !current_user.watching?(owner) && !user_is_owner?
        %div= link_to "follow", watch_path(:username => owner.username), {:method => :post}
      #navigation
        .followings
          %h2 Followings
          %ul
            - owner.watched.each do |watched|
              %li= link_to_user(watched)

    - if user_is_owner?
      #share_prompt
        = form_tag :action => :share  do
          = text_area_tag :content
          = image_submit_tag "share-button.png", :class => "submit_share"
    - elsif !user_signed_in?
      %h2.join
        - link_to(new_user_registration_path) do
          %u Join
          our
          .highlight conversation
          today
    #stream
      = render :partial => "thought/list"
