= render :partial => "shared/toolbar"

- content_for(:content) do
  #stream_main
    #sidebar
      #portrait
        - if owner.avatar?
          = image_tag owner.avatar.url(:thumb)
      #navigation
        .followings
          - if user_signed_in? && !user_is_owner?
            - if !current_user.following?(owner)
              = button_to "Follow", follow_path(:username => owner.username), {:class => "button"}
            - else
              = button_to "Unfollow", unfollow_path(:username => owner.username), {:class => "button"}
          %h2 Following
          %ul
            - owner.followed.each do |user|
              %li= link_to_user(user)
    - if user_is_owner?
      #share_prompt
        = form_tag({:action => :share}, {:remote => true}) do
          = text_area_tag :content
          = image_submit_tag "share-button.png", :class => "submit"
    - elsif !user_signed_in?
      %h2.join
        - link_to(new_user_registration_path) do
          %u Join
          our
          .highlight conversation
          today
    #stream
      = render :partial => "thoughts/list"
