#header
  = image_tag("logo.png")
  #toolbar
    = link_to "Settings", edit_user_registration_path
    = link_to "Sign Out", destroy_user_session_path

#content
  #sidebar
    #portrait
      -# - if owner.avatar
      -#   = image_tag owner.avatar.url(:thumb)
    - if !user_is_owner? && !current_user.watching?(owner)
      %div= link_to "follow", watch_path(:username => owner.username), {:method => :post}
    #navigation
      .followings
        %h2 Followings
        %ul
          - owner.watched.each do |watched|
            %li= link_to_user(watched)
        
  - if user_is_owner?
    #share_prompt
      = form_tag :action => :share  do
        = text_area_tag :content
        = image_submit_tag "share-button.png", :class => "submit"
  #stream
    = render :partial => "thought/list"
    
#footer
  (c) rerewind 2010
  