- content_for(:userpanel) do
  %p Signed in as #{current_user.name} #{link_to "Sign Out", destroy_user_session_path}
- content_for(:panel) do
  - if !user_is_owner? && !Following.following?(owner,current_user)
    %div= link_to "follow", {:controller => :users, :action => :follow, :username => owner.username}, {:method => :post}
  %div
    %h3 followers
    %p #{Following.followers_count(owner)}
    %ul.followList
      - owner.followers.each do |follower|
        %li= link_to(follower.name,stream_path(:username => follower.username))
  %div
    %h3 following
    %p #{Following.followings_count(owner)}
    %ul.followList
      - owner.followings.each do |following|
        %li= link_to(following.name,stream_path(:username => following.username))
  %div
    %h3 Groups
    %ul.groupList
      - owner.groups.each do |group|
        %li= link_to(group.name,:controller => :groups, :action => :show, :id => group.id)
  = link_to("Start a Group!",new_group_path)
%div
  %br
  - unless user_is_owner?
    #{owner.name}'s stream
  - else
    Hi #{current_user.name}, what's on your mind?
    = form_tag :controller => :thoughts, :action => :create  do
      = text_area_tag :content, {},:class => "sayText"
      = submit_tag "Share", :class => "saySubmit"
  %ul.thoughtList
    - @thoughts.each do |thought|
      %hr
      %li
        %div
          %span= link_to(thought.author['name'], :action => :stream, :username => thought.author['username'])
          %span= thought.content
        %div.thoughtDate= thought.time.strftime("%b %d")
        %ul
          - if thought.comments.size > 0
            %img.commentNub{:src => "/images/commentNub.jpg"}
          - thought.comments.each do |comment|
            %li.commentList
              %div
                %span= link_to("#{comment.author['name']}", :action => :stream, :username => comment.author['username'])
                %span= comment.content
              %div.thoughtDate= comment.time.strftime("%b %d")
        = form_tag :controller => :comments, :action => :create, :thought_id => thought.oid do
          = text_field_tag :content, {}, :class => "commentBox"
          = #hidden_field_tag :thought_oid, thought.oid
          = hidden_field_tag :username, owner.username
          = submit_tag "Comment", :class => "commentSubmit"
          