#header
  = image_tag("logo.png")
  #login
    = form_for(@user, :url => user_session_path) do |f|
      = f.text_field :email, :value => "login"
      = f.password_field :password
      = f.submit "Sign in", :class => "signin"
#main
  #splash_top
  #splash
    %h1
      Reremind is a
      %span.highlight
        community
      for people who are going through life difficulties.
    %ul
      %li
        Depression
      %li
        Loneliness
      %li
        Anxiety
      %li
        Relationship Problems
      %li
        Parenting Issues
    %div
      We want to
      %span.highlight
        help
    .indent
      Share your thoughts. Make new Friends.
    = image_tag("join-us-now.png",:class => "join")
  #splash_bottom

#footer
  (c) rerewind 2010
