- content_for(:toolbar) do
  = link_to "Join reremind", new_user_registration_path, :class => "sign_up_link"

.simple_form
  %h1
    Sign in to your 
    %span.highlight Stream
  = form_for(@user, :url => user_session_path) do |f|
    %table
      %tr
        %th
        %td.alert{:colspan => "2"}
          = flash[:alert]
      %tr.input
        %th Username or email
        %td= f.text_field :username, :tabindex => 1
      %tr.input
        %th Password
        %td= f.password_field :password, :tabindex => 2
      %tr
        %th
        %td{:colspan => 2}
          = f.submit "Sign in", :class => "submit", :tabindex => 3
          = link_to "Forgot your password?", new_user_password_path
        

