%ul.thoughtList
  - @thoughts.each do |thought|
    %hr
    %li
      %div
        %span= link_to_user(thought.user)
        %span= thought.content
      %div.thoughtDate= time_ago_in_words(thought.created_at)+ " ago"
      %ul
        - if thought.comments.size > 0
          %img.commentNub{:src => "/images/commentNub.jpg"}
        - thought.comments.each do |comment|
          %li.commentList
            %div
              = link_to_user(comment.user)
            %span= comment.content
            %div.thoughtDate= time_ago_in_words(comment.created_at)+" ago"
        = form_tag(thought_comments_path(:thought_id => thought.id)) do
          = text_field_tag :content, {}, :class => "commentBox"
          - if controller_name == "users"
            = hidden_field_tag :username, owner.username
          - elsif controller_name == "groups"
            = hidden_field_tag :group_id, @group.id
          = submit_tag "Comment", :class => "commentSubmit"