%ul.thoughtList
  - @thoughts.each do |thought|
    %hr
    %li
      %div
        %span= link_to(thought.author['name'], :controller => :users, :action => :stream, :username => thought.author['username'])
        %span= thought.content
      %div.thoughtDate= time_ago_in_words(thought.time)
      %ul
        - if thought.comments.size > 0
          %img.commentNub{:src => "/images/commentNub.jpg"}
        - thought.comments.each do |comment|
          %li.commentList
            %div
              %span= link_to("#{comment.author['name']}", :controller => :users, :action => :stream, :username => comment.author['username'])
              %span= comment.content
            %div.thoughtDate= time_ago_in_words(thought.time)
      = form_tag({:action => :comment, :thought_id => thought.oid}, {:class => "sayForm"}) do
        = text_field_tag :content, {}, :class => "commentBox"
        - if owner # ya, i know, this really sux
          = hidden_field_tag :username, owner.username
        - if group
          = hidden_field_tag :group_id, group.id
        = submit_tag "Comment", :class => "commentSubmit"