%ul#thoughts
  - day = nil
  - @thoughts.each do |thought|
    %li.thought
      - # print one date timestamp for all the thoughts that has the same day
      - if day.nil? or thought.created_at.yday != day.yday
        - day = thought.created_at
        .date= thought.created_at.strftime("%b %d")
        - # time_ago_in_words(thought.created_at)+ " ago"
      .time= thought.created_at.strftime("%I:%M %p").downcase
      .content
        %span.name= link_to_user(thought.user)
        %span.body= thought.content
      #comments
        .top
        - unless thought.comments.empty?
          %ul
            - thought.comments.each do |comment|
              %li.comment
                %span.name= link_to_user(comment.user)
                %span.body= comment.content
                .timestamp= time_ago_in_words(comment.created_at)+" ago"
        .input
          = form_tag(thought_comments_path(:thought_id => thought.id)) do
            = text_field_tag :content
            - if controller_name == "users"
              = hidden_field_tag :username, owner.username
            - elsif controller_name == "groups"
              = hidden_field_tag :group_id, @group.id
            = submit_tag "Comment", :class => "submit"
            .clear .
              