<!DOCTYPE html>
<html>
<head>
  <title>Rere</title>
  <%= stylesheet_link_tag :all, 'rere_default' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="preheader">
	<img src="/images/rerewind_logo_red.png" class="logo"></img>
</div>
<div id="header">
	  <b class="spiffy">
	  <b class="spiffy1"><b></b></b>
	  <b class="spiffy2"><b></b></b>
	  <b class="spiffy3"></b>
	  <b class="spiffy4"></b>
	  <b class="spiffy5"></b></b>

	  <div class="spiffyfg">
	    <img src="/images/rerewind_banner.png"></img>
	  </div>

	  <b class="spiffy">
	  <b class="spiffy5"></b>
	  <b class="spiffy4"></b>
	  <b class="spiffy3"></b>
	  <b class="spiffy2"><b></b></b>
	  <b class="spiffy1"><b></b></b></b>
</div>

<div id="main">
	<b class="spiffy">
	<b class="spiffy1"><b></b></b>
 	<b class="spiffy2"><b></b></b>
	<b class="spiffy3"></b>
	<b class="spiffy4"></b>
	<b class="spiffy5"></b></b>
	<div class="spiffyfg2">
	<div class="mainContent">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</div>
	<div class="rightPanel">
		<p> The stuff in the right panel will go here, like notifications, etc </p>
		<p> overflowing items are hidden</p>
		<p>........................................</p>
	</div>
	</div>
</div>

</body>
</html>
