!!!
%html
  %head
    %title Rere
    = stylesheet_link_tag "http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css", 'rere'
    = # javascript_include_tag 'curvycorners.src'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails', 'autoresize.jquery'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    - if production?
      = render :partial => "shared/google_analytics"
    #wrapper
      #header
        = image_tag("logo.png")
        = yield(:toolbar)
      = yield(:content)
      #footer
        (c) rerewind 2010
